body {
    background: linear-gradient(195deg, rgb(54, 52, 52),rgb(172, 166, 166));
    min-height: 100vh;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 0;
    align-items: center;
    position: relative;
    bottom: 0;
}

.ingredients{
    border-style: solid;
}

.left{
    
    display: flex;
    flex-direction: column;
    gap:20px;
    padding-left: 30px;
    width:420px;
    height: 1507px;
}