body {
    background: linear-gradient(195deg, rgb(54, 52, 52),rgb(172, 166, 166));
    min-height: 100vh;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 0;
    align-items: center;
    position: relative;
    bottom: 0;
}

div{
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  width: 1000px;
}

